html, body {
    padding: 5px;
}

/* CSS */
select {
  align-items: center;
  background-color: #F9B000;
  padding: 20px 100px;
  width: 100%;

  font-weight: bold;
  font-size: 30px;
  color: white;
}

.Content {
    color: white;
    text-shadow: 0.2em 0.2em 0.2em black;
    background-image: url("../assets/background.png");
    background-color: #cccccc;
    height: 1000px;
    padding: 50px;
}

.NavBar {
    background: #006095;
    display: inline-block; 
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
} 

* {
    font-family: "Verdana";
}